<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="0.6.1" targetFramework="net40" />
  <package id="AutoFixture" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.AutoFoq" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.AutoNSubstitute" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.Idioms" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.Xunit" version="3.16.5" targetFramework="net40" />
  <package id="Foq" version="1.6" targetFramework="net40" />
  <package id="FsUnit.xUnit" version="1.2.2.1" targetFramework="net40" />
  <package id="NHamcrest" version="1.2.1" targetFramework="net40" />
  <package id="NSubstitute" version="1.7.1.0" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>